// main: ../style.scss

@import "section/hero";
@import "section/reservation";
@import "section/info";
@import "section/suggestion";
@import "section/event";
@import "section/general";

.content-page{
    padding: 4em 1em;
    text-align: justify;

    h2, h3{
        padding: .5em 0;
    }
}