// main: ../style.scss


@import "theme/deco";
@import "theme/deco-title";
@import "theme/deco-section";

.theme{
    &-clair{
        background: $color-light;
        color: $color-dark;

        // START : GENERAL  (pour les 3 deco) ===================

        // START : TITLE-DECO (deco-1) ==========================

        // START : SECTION-DECO (deco-2) ========================
        .print{
            &-right{
                .card{
                    background: $color-light;
                }
            }
            &-left{
                background-color: darken($color-light, 5%);
                .nav-tabs {
                    .nav-link{
                        background-color: darken($color-light, 5%);
                        &:hover{
                            background-color: $color-primary-light;
                        }
                    }
                    .nav-link.active, .nav-item.show{
                        background-color: $color-primary;
                    }
                }

                .tab-content{
                    .else-display{
                        background-color: darken($color-light, 5%);
                        margin: auto 10%;
                    }
                    table{
                        background-color: darken($color-light, 5%);
                    }

                    @include responsive(MD){
                        background-color: darken($color-light, 5%);
                        .else-display{
                            margin: auto;
                        }
                    }
                    @include responsive(SM){
                        background-color: darken($color-light, 5%);
                        .else-display{
                            margin: auto;
                        }
                    }
                    @include responsive(XS){
                        background-color: darken($color-light, 5%);
                        .else-display{
                            margin: auto;
                        }
                    }
                }
            }
        }

        // START : NO-DECO (deco-3) =============================



    }

    &-foncer{
        background: $color-dark;
        color: $color-light;

        // START : GENERAL  (pour les 3 deco) ===================
        .description{
            color: darken($color-light, 20%);
            text-shadow: 3px 2px 3px rgba(9, 9, 9, 0.8);
        }
        .reservation{
            .content{
                border-color: darken($color-light, 40%);
            }
            .miniature{
                @include filter-invert(1);
            }
            .reserve-info{
                text-shadow: 4px 2px 4px rgba(9, 9, 9, 0.9);
            }
        }
        .error-code{
            color: $color-light;
        }
        .card{
            background: $color-dark;
            border-color: darken($color-light, 40%);
            &-title{
                text-shadow: 4px 2px 4px rgba(9,9,9,0.9);
            }
            &-text{
                color: darken($color-light, 40%);
            }
            &-price{
                text-shadow: 4px 2px 4px rgba(9,9,9,0.9);
            }
        }

        .nav-tabs {
            text-shadow: 1px 0px 3px rgba(9, 9, 9, 0.9);
            .nav-link {
                border: 1px solid darken($color-grey, 10%);
                color: darken($color-grey, 10%);
                border-radius: 5px;
            }
            .nav-link.active,
            .nav-item.show{
                color: $color-light;
            }

            .nav-link{
                &:hover{
                    color: darken($color-light, 10%);
                }
            }
        }

        .tab-content{
            .tab-pane{
                table tr{
                    border-bottom: 1px solid lighten($color-grey, 10%);
                }
                p{
                    text-shadow: 4px 2px 4px rgba(9, 9, 9, .9);
                }
            }
        }


        // START : TITLE-DECO (deco-1) ==========================
        .deco-title h1{
            text-shadow: 4px 2px 4px rgba(9,9,9,0.9);
        }

        .flying-left h1::after, .flying-right h1::before{
            filter: invert(0.5);
        }


        // START : SECTION-DECO (deco-2) ========================
        .print{
            &-right{
                .card{
                    background: $color-dark;
                }
            }
            &-left{
                background-color: lighten($color-dark, 5%);
                .nav-tabs {
                    .nav-link{
                        background-color: lighten($color-dark, 5%);
                        &:hover{
                            background-color: $color-primary-light;
                        }
                    }
                    .nav-link.active, .nav-item.show{
                        background-color: $color-primary;
                    }
                }
                .tab-content{
                    .else-display{
                        background-color: lighten($color-dark, 5%);
                        margin: auto 10%;
                    }
                    table{
                        background-color: lighten($color-dark, 5%);
                    }

                    @include responsive(MD){
                        background-color: lighten($color-dark, 5%);
                        .else-display{
                            margin: auto;
                        }
                    }
                    @include responsive(SM){
                        background-color: lighten($color-dark, 5%);
                        .else-display{
                            margin: auto;
                        }
                    }
                    @include responsive(XS){
                        background-color: lighten($color-dark, 5%);
                        .else-display{
                            margin: auto;
                        }
                    }
                }
            }
        }

        // START : NO-DECO (deco-3) =============================

    }

}
