// main: ../style.scss


/* ------------------------------------------------------------ */
/* COLOR */
/* ------------------------------------------------------------ */
$color-primary: fuchsia;
//$color-primary-light:
//$color-primary-dark:

$color-secondary: lime;
//$color-secondary-light:
//$color-secondary-dark:

//$color-grey:
//$color-grey-light:
//$color-grey-dark:

$color-dark: #333;

$color-light: #fafafa;


/* ------------------------------------------------------------ */
/* TYPOGRAPHIE */
/* ------------------------------------------------------------ */
//$font-primary:
//$font-secondary:


/* ------------------------------------------------------------ */
/* BREAKPOINT - Responsive widths */
/* ------------------------------------------------------------ */

/* $mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px; */

$XS:  320px;
$S:   480px;
$M:   768px;
$L:   992px;
