// main: ../style.scss


/* ------------------------------------------------------------ */
/* COLOR */
/* ------------------------------------------------------------ */
$color-primary: #F5A623;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-grey: #919191;
//$color-grey-light:
//$color-grey-dark:

$color-dark: #333;


$color-light: #fafafa;


/* ------------------------------------------------------------ */
/* TYPOGRAPHIE */
/* ------------------------------------------------------------ */
$font-primary: 'poppins';
$font-primary-bold:'poppins-bold';
$font-primary-light:'poppins-light';
$font-primary-medium:'poppins-medium';
$font-primary-thin:'poppins-thin';

$font-secondary: 'philosopher';
$font-secondary-bold: 'philosopher-bold';

/* ------------------------------------------------------------ */
/* BREAKPOINT - Responsive widths */
/* ------------------------------------------------------------ */

/* $mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px; */

$XS:  320px;
$S:   480px;
$M:   768px;
$L:   992px;
