// main: ../theme.scss

.deco-section{
    h1{
        text-align: center;
        padding-top: 2em;
        letter-spacing: 2px;
        padding-bottom: 2em;
    }

    .description{
        @include flex;
        margin-top: 3em;
        width: 80%;
        text-align: justify;
    }
}

.print{
    &-right{
        background: url('assets/img/poose-feet-right.png') no-repeat fixed;
        background-size: contain;
        background-position: top right;
        //height: 90vh;

    }

    &-left{
        background: url('assets/img/poose-feet-left.png') no-repeat fixed;
        background-size: contain;
        background-position: top left;
        //height: 90vh;
        .description{
            margin-left: 20%;
        }
    }
}