// main: ../theme.scss

.deco-title{
    h1{
        font-family: $font-secondary;
        letter-spacing: 2px;
        margin-bottom: 2em;
    }

}

.flying{
    &-left{
        h1::after{
            content: url("assets/img/flying-left.png");
            position: relative;
            top: 1em;
            margin-left: 1em;
        }
    }
    &-right{
        h1::before{
            content: url("assets/img/flying-right.png");
            position: relative;
            top: 1em;
            margin-right: 3em;
        }
    }
}



