// main: ../section.scss

//.main-suggestion{
//    .else-display{
//        padding: 3em;
//    }
//}
//
//.main-event{
//    .else-display{
//        padding: 4em;
//    }
//}

@include responsive(MD){
    .main-suggestion{
        .col-12{
            margin-bottom: 1em;
        }
        .else-display{
            margin-bottom: 0;
        }
    }
}

@include responsive(SM){
    .main-suggestion{
        .col-12{
            margin-bottom: 1em;
        }
        .else-display{
            margin-bottom: 0;
        }
    }
}

@include responsive(XS){
    .main-suggestion{
        .col-12{
            margin-bottom: 2em;
        }
        .else-display{
            margin-bottom: 0;
        }
    }
}